body {
  background-color: linen;
}

.App {
  text-align: center;
  max-width: 1280px;
  width: 85%;
  margin: 0 auto;
}

.moveContainer {
  p {
    padding: 0 25px;
  }
}

.extraInfoContainer  {
  display: flex;
  flex-direction: column;
  align-items: center;

  section {
    border-radius: 10px;
    margin-bottom: 25px;
    width: 92.5%;
    box-shadow: 5px 5px black;

    h3,
    p {
      text-transform: capitalize;
    }

  }
}